<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goms.presentation" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.goms.presentation.di.GomsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GSM_GOMS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name="com.goms.presentation.view.profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.GSM_GOMS"/>
        <activity
            android:name="com.goms.presentation.view.sign_in.SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.goms.presentation.view.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GSM_GOMS" />
    </application>

</manifest>