<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goms.presentation">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".di.GomsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GSM_GOMS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".view.manage.StudentManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GSM_GOMS_ADMIN"
            android:exported="false" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.qr_scan.capture.QrCodeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.sign_in.SignInActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.GSM_GOMS" />
        <activity
            android:name=".view.main.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true" />

        <service
            android:name=".utils.notification.GomsNotification"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>